<main role="main" class="text-center">
  <form id="{{formId}}" class="form-auth">
    <h1 class="h3 mb-3 font-weight-normal">{{formName}}</h1>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <button class="btn btn-lg btn-primary btn-block" type="submit">{{formButton}}</button>
  </form>
</main>