<header>
  <div class="navbar navbar-expand navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <strong>Plxoday</strong>
      </a>
      <ul class="navbar-nav ml-auto" id="navbarButtons">
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Log in</a>
        </li>
      </ul>
  </div>
    </div>
  </div>
</header>