<!DOCTYPE html>
<html lang="en">
{% include "meta/head.njk" %}
<body>
  {% include "components/header.njk" %}
  <main role="main">
    {% include "components/jumbotron.njk" %}
    {% include "components/image-form.njk" %}
    {% include "components/gallery.njk" %}
    <div id="preview"></div>
  </main>
  {% include "components/footer.njk" %}
  {% include "meta/scripts.njk" %}
</body>
</html>