<!DOCTYPE html>
<html lang="en">
{% include "meta/head.njk" %}
<body>
  {% include "components/header.njk" %}
  {% set formId = "loginForm" %}
  {% set formName = "Log in" %}
  {% set formButton = "Log in" %}
  {% include "components/auth-form.njk" %}
  {% include "components/footer.njk" %}
  {% include "meta/scripts.njk" %}
</body>
</html>