html, body {
  margin: 0;
  min-height: 100%;
}

.gallery-img {
  height: 240px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.main-section {
  margin-top: 48px;
  margin-bottom: 48px;
}

main {
  padding-bottom: 80px;
}

footer {
  width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
}

a {
  color: #fff;
}