.gallery-img {
  height: 240px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.main-section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

main {
  padding-bottom: 5rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

a {
  color: #fff;
}